hot_pic
__pycache__
.env
.claude
drawer
exiftool
desktop-app/node_modules
artist_favorites.json
character_favorites.json
image_favorites.json
copyright.json
magazine.json
desktop-app/dist
env_config.json
logs/
CLAUDE.md